DB_HOST=db
DB_PORT=3306
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=monitoring_db
MYSQL_USER=app_user
MYSQL_PASSWORD=app_password

PORT=3001
NODE_ENV=production

LOG_LEVEL=info
LOG_FILE=logs/app.log

VITE_API_URL=http://31.129.108.115/api/